.navigation {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  display: grid;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 700;
  height: 32vh;
  letter-spacing: 0.1rem;
  place-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigationMenu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 8px auto;
  width: 100%;
}

@media (--md) {
  .navigation {
    height: 20vh;
  }
}

@media (--lg) {
  .navigation {
    height: 100vh;
    position: fixed;
    width: 25%;
  }
}
