.section-principle {
  padding-inline: var(--font-size-text-md);
}

@media (--md) {
  .section-principle {
    padding-inline: var(--font-size-text-lg);
  }
}

@media (--lg) {
  .section-principle {
    padding-inline: var(--font-size-text-xl);
  }
}
